body{
    /* margin: 0; */
    /* padding: 0; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-image: url('/Photo/kottu_bg.jpeg'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* height: 100vh; */
    /* color: #fff; */
}

.form-login{
    /* width:100%;/ */
    /* height: 100vh; */
    /* display: flex; */
    /* background-image: url('/Photo/kottu_bg.jpeg'); */
    /* justify-content: right; */
    /* padding-right: 100px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* align-items: center; */
    /* background-color: rgb(255, 255, 255); */
}  

.form-login h1{
    /* color: #ffffff; */
}
 
/* .form-login .second-part{
    padding: 50px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
} */

/* .form-login .second-part h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
    color: #000000;
} */

/* .form-login .second-part h3{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
    opacity: 0.5;
} */

/* form{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
} */

/* .form-group{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 5px 0;
} */

/* .form-control{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #a2a2a2;
    padding-left: 10px;
    font-size: 1rem;
} */

/* textarea.form-control{
    height: auto;
    max-height: 200px;
    resize: vertical;
    min-height: 100px;
}

.form-control:focus{
    font-size: 1rem;
}

.form-control:hover{
    transition: transform 0.3s ,background-color 0.3s ease;
    transform: scale(1.01);
} */

/* .form-control::placeholder{
    font-size: 1rem;
}

.invalid-feedback{
    color: #c91432;
    margin-top: 5px;
    font-size: 0.8rem;
    width: 100%;
} */
/* 
.btn{
    width: 82%;
    height: 50px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.btn:hover{
    transition: transform 0.3s ,background-color 0.3s ease;
    transform: scale(1.01);
}

.or{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    opacity: 0.5;

} */

/* .btn-google{
    background-color: rgb(241, 241, 241);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-google img{
    width: 20px;
    height: auto;

} */







.contact-container {
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* padding: 50px; */
    /* gap: 30px; */
    /* background: rgba(0, 0, 0, 0.7); Transparent overlay */
}

/* .contact-info {
    max-width: 40%;
}

.contact-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-item .icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #00bcd4;
}
 */
