body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 550px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  color: black; /* Solid black for strong contrast */
  font-size: 40px; /* Increased size */
  font-weight: 700; /* Bold font weight */
  text-transform: uppercase;
  letter-spacing: 1.5px; /* Adds a stylish touch */
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  font-family:Georgia, 'Times New Roman', Times, serif

}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #060606; /* Dark grey for better readability */
  text-align: left;
  margin-left: 20px;
  font-size: 16px;
  margin-top: 20px;

}

input, textarea {
  width: 90%;
  padding: 12px;
  border: 2px solid #cecbcb;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
  /* margin-bottom: 20px; */
}

input:focus, textarea:focus {
  border-color: red; /* Highlighted red border on focus */
  outline: none;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.3);
}

p 
{
  color: #333;
  margin-bottom: 20px;
  margin-top:0px;
  font-size: 14px; 
  color: grey;
  text-align: right; 
  margin-right: 20px;
}

select {
  width: 90%;  /* Same width as input fields */
  padding: 12px;  /* Same padding for consistency */
  border: 2px solid #cecbcb;  /* Same border color */
  border-radius: 6px;  /* Rounded corners for consistency */
  font-size: 14px;  /* Same font size */
  transition: 0.3s;  /* Smooth transition for focus effect */
  margin-bottom: 20px;  /* Space below the field */
}

select:focus {
  border-color: red;  /* Highlighted red border on focus */
  outline: none;  /* Remove the default focus outline */
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.3);  /* Subtle shadow on focus */
}

button {
  width: 70%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: red; /* Red on hover */
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;

}

.popup p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.popup button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  width: 100px;
}

.popup button:hover {
  background-color: black;
}
