* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: #000000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 65px;
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}

.logo-img {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Photo/icon/logonew.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-icon{
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: max-height 0.3s ease;
}

.nav-links li {
    margin: 0;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.nav-links li:hover {
    /* background-color: #61dafb; */
    box-shadow: (0 0 5px #EE3E3F);
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #20232a;
}

.icon-box {
    display: flex;
    gap: 15px;

}

.icon-box a {
    width: 36px;
    height: 36px;
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.icon-box a:hover {
    /* filter: drop-shadow(0 0 2px #EE3E3F);  Remove the 5px spread value */
    color: black;
    transition: background-color 0.3s ease;
    /* transform: scale(1.05); */

}

.icon-box img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.drop-down{
    background-color:none !important;
}

  
.dropdown-content {
    position: absolute;
    top: 65px;
    right: 0;
    font-size: 1rem;
    background: black; /* Semi-transparent background */
    /* backdrop-filter: blur(10px);       */
    /* -webkit-backdrop-filter: blur(10px); */
    width: 100%;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); Blur effect on box borders */
    border: none;
    z-index: 10000;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding-right: 20px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 0;
    text-align: right;
    font-weight: 500;
  }

  .dropdown-content.show1  {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content a:last-child {
    margin-bottom: 10px; 
}
  

.dropdown-content a:hover {
    color: #272727;
    /* background-color: #000000; */
    transition: color 0.3s ease;
    
}


/* Responsive Design */
@media (max-width: 830px) {
    .nav-links {
        flex-direction: column; /* Stack nav links vertically */
        position: absolute;
        top: 65px; /* Position below navbar */
        right: 0;
        width: 100%;
        background-color: black; /* Semi-transparent background */
    /* backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px); */
        max-height: 0; /* Initially hidden */
        margin-bottom: 10px;  
        z-index: 1000;      
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
        overflow: hidden; /* Hide overflowing content */
    }
    .menu-iconbox{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        /* z-index: 1000; */
    }

    .nav-links.show {
        max-height: 300px; /* Show menu when toggled */
        transition: max-height 0.3s ease;
        z-index: 1000;

    }

    .nav-links li {
        padding: 2px; /* Adjust padding for dropdown items */
        text-align: right; /* Center text */
        padding-right: 30px;
       
    }

    .nav-links li:last-child {
        padding-bottom: 30px;
       
    }

    .nav-links a {
        font-size: 14px;
        display: block; /* Full clickable area */
    }

    .menu-icon {
        display: block; /* Show menu icon */
        font-size: 28px;
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
    }

    .icon-box {
        display: flex; /* Hide icon box on smaller screens */
    }

    .dropdown-content {
        
        width: 100%;
        
    }
}

@media  (max-width: 990px) {
    .nav-links {
        
        gap: 20px;
        
    }

    .nav-links a {
        
        font-size: 12px;
        
    }

    .logo-img {
        width: 120px;
        height: 40px;
        
    }

    .icon-box img {
        width: 15px;
        height: 15px;
    }

    .dropdown-content {
        
        font-size: 12px;
        
    }

    .dropdown-content a {
        
        padding-right: 20px;
        margin: 5px 0px;
        
      }
    
}


